delete duplicates in AIRPORT_COORDINATES.csv,CARRIER_DECODE.csv

In [2]:
import pandas as pd

df = pd.read_csv(r'C:\Users\Administrator\Desktop\dataclean\AIRPORT_COORDINATES.csv').drop_duplicates(subset=['ORIGIN_AIRPORT_ID'],keep='first')
file_name = r'C:\Users\Administrator\Desktop\dataclean\cleaned_raw_data\AIRPORT_COORDINATES.csv'
df.to_csv(file_name, index=False)

In [3]:
df = pd.read_csv(r'C:\Users\Administrator\Desktop\dataclean\CARRIER_DECODE.csv').drop_duplicates(keep='first')
file_name = r'C:\Users\Administrator\Desktop\dataclean\cleaned_raw_data\CARRIER_DECODE.csv'
df.to_csv(file_name, index=False)

delete the airports in AIRPORT_COORDINATES.csv whose info is not in airports_list.csv

In [14]:
import numpy as np

df_airport_list=pd.read_csv(r'C:\Users\Administrator\Desktop\dataclean\airports_list.csv').iloc[:,0]
df_airport_coor= pd.read_csv(r'C:\Users\Administrator\Desktop\dataclean\cleaned_raw_data\AIRPORT_COORDINATES.csv')

df_airport_list_array=np.array(df_airport_list)
airlist=df_airport_list_array.tolist()

df_airport_coor=df_airport_coor[df_airport_coor['ORIGIN_AIRPORT_ID'].isin(airlist)]

file_name=r'C:\Users\Administrator\Desktop\dataclean\cleaned_raw_data\AIRPORT_COORDINATES.csv'
df_airport_coor.to_csv(file_name, index=False)

combine tables

In [15]:
airweather1=pd.read_csv(r'C:\Users\Administrator\Desktop\dataclean\airport_weather_2019.csv')
airweather2=pd.read_csv(r'C:\Users\Administrator\Desktop\dataclean\airport_weather_2020.csv')
airweather=pd.concat([airweather1,airweather2],axis=0,ignore_index=True)
file_name=r'C:\Users\Administrator\Desktop\dataclean\cleaned_raw_data\airport_weather.csv'
airweather.to_csv(file_name,index=False)

In [17]:
report1=pd.read_csv(r'C:\Users\Administrator\Desktop\dataclean\ONTIME_REPORTING_01.csv')
report2=pd.read_csv(r'C:\Users\Administrator\Desktop\dataclean\ONTIME_REPORTING_02.csv')
report3=pd.read_csv(r'C:\Users\Administrator\Desktop\dataclean\ONTIME_REPORTING_03.csv')
report4=pd.read_csv(r'C:\Users\Administrator\Desktop\dataclean\ONTIME_REPORTING_04.csv')
report5=pd.read_csv(r'C:\Users\Administrator\Desktop\dataclean\ONTIME_REPORTING_05.csv')
report6=pd.read_csv(r'C:\Users\Administrator\Desktop\dataclean\ONTIME_REPORTING_06.csv')
report7=pd.read_csv(r'C:\Users\Administrator\Desktop\dataclean\ONTIME_REPORTING_07.csv')
report8=pd.read_csv(r'C:\Users\Administrator\Desktop\dataclean\ONTIME_REPORTING_08.csv')
report9=pd.read_csv(r'C:\Users\Administrator\Desktop\dataclean\ONTIME_REPORTING_09.csv')
report10=pd.read_csv(r'C:\Users\Administrator\Desktop\dataclean\ONTIME_REPORTING_10.csv')
report11=pd.read_csv(r'C:\Users\Administrator\Desktop\dataclean\ONTIME_REPORTING_11.csv')
report12=pd.read_csv(r'C:\Users\Administrator\Desktop\dataclean\ONTIME_REPORTING_12.csv')


report=pd.concat([report1,report2,report3,report4,report5,report6,report7,report8,report9,report10,report11,report12],axis=0,ignore_index=True)
file_name=r'C:\Users\Administrator\Desktop\dataclean\cleaned_raw_data\ONTIME_REPORTING.csv'
report.to_csv(file_name,index=False)

C:\anaconda\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (22) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [18]:
carrier_airport1=pd.read_csv(r'C:\Users\Administrator\Desktop\dataclean\T3_AIR_CARRIER_SUMMARY_AIRPORT_ACTIVITY_2019.csv')
carrier_airport2=pd.read_csv(r'C:\Users\Administrator\Desktop\dataclean\T3_AIR_CARRIER_SUMMARY_AIRPORT_ACTIVITY_2020.csv')
carrier_airport=pd.concat([carrier_airport1,carrier_airport2],axis=0,ignore_index=True)
file_name=r'C:\Users\Administrator\Desktop\dataclean\cleaned_raw_data\T3_AIR_CARRIER_SUMMARY_AIRPORT_ACTIVITY.csv'
carrier_airport.to_csv(file_name,index=False)

combine the date in T3_AIR_CARRIER_SUMMARY_AIRPORT_ACTIVITY.csv with the same OP_UNIQUE_CARRIER\CARRIER_NAME\ORIGIN_AIRPORT_ID\ SERVICE_CLASS

In [34]:
group=carrier_airport.groupby(['OP_UNIQUE_CARRIER','CARRIER_NAME','ORIGIN_AIRPORT_ID','SERVICE_CLASS'],as_index=False).sum()
group.head()
file_name=r'C:\Users\Administrator\Desktop\dataclean\cleaned_raw_data\grouped_T3_AIR_CARRIER_SUMMARY_AIRPORT_ACTIVITY.csv'
group.to_csv(file_name,index=False)

In [14]:
import pandas as pd

airportlist=pd.read_csv(r'C:\Users\Administrator\Desktop\dataclean\cleaned_raw_data\airports_list.csv')
m1=airportlist['NAME'].tolist()
m2=airportlist['ORIGIN_AIRPORT_ID'].tolist()
airport_name_id={}
for x in range(len(m1)):
    airport_name_id[m1[x]]=m2[x]

airport_weather=pd.read_csv(r'C:\Users\Administrator\Desktop\dataclean\cleaned_raw_data\airport_weather.csv')
col_name=airport_weather.columns.tolist()
col_name.insert(0,'ORIGIN_AIRPORT_ID')
airport_weather=airport_weather.reindex(columns=col_name)

#delete the airports in ariport_weather.csv whose info is not in airports_list.csv
airport_weather=airport_weather[airport_weather['NAME'].isin(m1)] 

for i in range(len(airport_weather)):
    airid=int(airport_name_id[airport_weather.iloc[i,2]])
    airport_weather.iloc[i,0]=airid
airport_weather.drop('NAME',axis = 1,inplace = True)

,ORIGIN_AIRPORT_ID,STATION,DATE,AWND,PGTM,PRCP,SNOW,SNWD,TAVG,TMAX,...,WT09,WESD,WT10,PSUN,TSUN,SN32,SX32,TOBS,WT11,WT18
0,10397.0,USW00013874,1/1/2019,4.70,NaN,0.14,0.0,0.0,64.0,66.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10397.0,USW00013874,1/2/2019,4.92,NaN,0.57,0.0,0.0,56.0,59.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10397.0,USW00013874,1/3/2019,5.37,NaN,0.15,0.0,0.0,52.0,55.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10397.0,USW00013874,1/4/2019,12.08,NaN,1.44,0.0,0.0,56.0,66.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10397.0,USW00013874,1/5/2019,13.42,NaN,0.00,0.0,0.0,49.0,59.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
airport_weather[airport_weather.columns[0]]=airport_weather[airport_weather.columns[0]].astype('int')
file_name=r'C:\Users\Administrator\Desktop\dataclean\cleaned_raw_data\airport_weather.csv'
airport_weather.to_csv(file_name,index=False)